@model AppTaxi.Models.Motorista

@{
    ViewData["Title"] = "Details";
}

    <h2>Visualizar em Detalhes os Registos de um Motorista</h2>

<div>
   
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd>
            
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BI)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BI)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.MotoristaID">Actualizar Registo</a> |
    <a asp-action="Index">Voltar para Listagem</a>
</div>
