@model AppTaxi.Models.Carro

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Carro</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Matricula)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Matricula)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Motorista)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Motorista.MotoristaID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Cobrador)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cobrador.CobradorID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CarroID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
